# Angular
dist/
tmp/
temp/

# Node
node_modules/

# IDE
.vscode/
.idea/

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log

# OS junk
.DS_Store
Thumbs.db

# Angular cache
.angular/

# Environment files
*.env
